name: Packer
on:
  push:
    paths:
      - 'projects/**'

jobs:
  pack:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version-folder: ["1.12.2", "1.16.x", "1.18.x", "1.19.x"]
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Zip version ${{ matrix.version-folder }}
        run: |
          version="${{ matrix.version-folder }}"
          safe_name=$(echo "$version" | sed 's/+/plus/g')
          echo "SAFE_NAME=$safe_name" >> $GITHUB_ENV
          zip -r "${safe_name}.zip" "projects/$version"

      - name: Upload artifact for version ${{ matrix.version-folder }}
        uses: actions/upload-artifact@v6
        with:
          name: VMTranslationPack-${{ matrix.version-folder }}
          path: ${{ env.SAFE_NAME }}.zip
